<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">     
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>     
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>     
    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
</head>

<body>
    <div class = "container"> 
        <%= image_tag "WIN_logWIN_logo.jpeg", style: "width:100" %>
    </div>

    <div class="jumbotron text-center" style="color:white; background-color: #3399ff">
        <h2>New Milestone</h2>
    </div>

    <div class="container">
        <%= render 'form', milestone: @milestone %>
    </div>

    <br>
    <div class="text-center">
    <%= link_to 'Back', milestones_path, {class: "btn btn-light"} %>
    </div>

</body>