<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">     
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>     
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>     
    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
</head>

<div class="jumbotron text-center" style="color:white; background-color: #3399ff">
  <h2>Milestones</h2>
</div>
<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Points</th>
        <th scope="col">Message</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @milestones.each do |milestone| %>
        <tr>
          <td><%= milestone.name %></td>
          <td><%= milestone.points %></td>
          <td><%= milestone.message %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
  <%= button_to 'Back', root_path, :class => "btn btn-light", :method => :get  %>
  </div>
</div>